body {
  background-color: #3aafa9;
  font-family: 'Inter', sans-serif;
  color: #feffff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 3em;
  text-align: center;
  font-weight: 900;
}

label {
  font-size: 1.5em;
  font-weight: 700;
}

.dark {
  color: #17252a;
}

input {
  display: block;
  margin: 20px 0;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  background-color: #17252a;
  color: #feffff;
  padding: 20px;
}
