body {
  background-color: #3aafa9;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 50px;
}

.white {
  color: #feffff;
}

.black {
  color: #17252a;
}

#main-heading {
  text-align: center;
}
