body {
  background-color: #3aafa9;
  font-family: 'Inter', sans-serif;
  color: #feffff;
}

#container {
  width: 80%;
  margin: 0 auto;
}

h1,
h2 {
  font-size: 2.4em;
  text-align: center;
  font-weight: 900;
}

a {
  color: #25274d;
}

label {
  font-size: 1.5em;
  font-weight: 700;
}

.dark {
  color: #17252a;
}

input {
  display: block;
  margin: 20px 0;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  background-color: #17252a;
  color: #feffff;
  padding: 20px;
  border-radius: 5px;
}

h2 {
  text-align: left;
}

footer {
  font-weight: 500;
}

@media only screen and (max-width: 31em) {
  body {
    font-size: 10px;
  }
}
