html {
  min-height: 100%;
}

body {
  background-image: linear-gradient(
    -225deg,
    #22e1ff 0%,
    #1d8fe1 48%,
    #625eb1 100%
  );
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #25274d;
  margin-bottom: 2em;
}

#main-container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}
a {
  color: #22e1ff;
}

#grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 8em 11em 8em;
  align-items: center;
  justify-items: center;
  background-color: #feffff;
  border-radius: 1.5em;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.025),
    0 15px 40px rgba(166, 173, 201, 0.2);
  margin: 2em auto;
}

#title {
  font-size: 3em;
  text-align: center;
  grid-column-end: span 2;
  margin: 0.2em 0 0 0;
}

#calc-btn {
  grid-column-end: span 2;
  padding: 1.4em;
  font-size: 1.2em;
}

h3 {
  margin: 0 0 1em 0;
  font-size: 1.3em;
  font-weight: normal;
}

input {
  display: block;
  border: none;
  font-family: 'Inter', sans-serif;
  color: #feffff;
  padding: 0.3em 1.4em;
  font-size: 1em;
  border-radius: 1em;
  margin: 0;
  min-width: 9em;
  min-height: 3em;
  background-image: radial-gradient(
    circle 248px at center,
    #16d9e3 0%,
    #30c7ec 47%,
    #46aef7 100%
  );
}

.prayer {
  text-align: center;
}

.output-time {
  margin: 2em 3em 3em 3em;
}

footer {
  color: #feffff;
}

@media only screen and (max-width: 725px) {
  body {
    font-size: 14px;
  }

  #main-container {
    width: 90%;
  }
}

@media only screen and (max-width: 580px) {
  body {
    font-size: 12px;
  }

  #grid {
    grid-template-rows: 8em 12em 12em 8em;
  }

  .prayer {
    grid-column-end: span 2;
  }
}

@media only screen and (max-width: 420px) {
  body {
    font-size: 10px;
  }
}

@media only screen and (max-width: 350px) {
  body {
    font-size: 8px;
  }
}
