body {
  background-color: #3aafa9;
  font-family: 'Inter', sans-serif;
  color: #feffff;
}

#container {
  width: 80%;
  margin: 0 auto;
}

h1,
h2 {
  font-weight: 900;
}

a {
  color: #25274d;
}

label {
  font-weight: 700;
}

.dark {
  color: #17252a;
}

#grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 5fr);
  align-items: center;
  justify-items: center;
}

#title {
  grid-column-end: span 2;
}

#calc-btn {
  grid-column-end: span 2;
}

#output-time {
  grid-column-end: span 2;
}

input {
  display: block;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #feffff;
}

.black {
  background-color: #17252a;
}

h2 {
  text-align: left;
}

footer {
  font-weight: 500;
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 10px;
  }
}
